@* <section id="about" class="s-about target-section">
 *@
<section id="about"  class="s-about page-hero target-section" data-parallax="scroll" data-image-src="https://e0.pxfuel.com/wallpapers/458/944/desktop-wallpaper-white-background-simple-white.jpg" data-natural-width=1440 data-natural-height=3122 data-position-y=center>
    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full text-center">
            <h3>Hakkımda</h3>
            <h4>Kişisel gelişimime önem veren biriyim, sorumluluklarım söz konusu olduğunda çalışkan bir insanım. İletişim benim için en önemli durumlardan bir tanesi, insanların sorunlarını dinlemekten, onlardan tavsiye almaktan keyif alırım. Açık fikirli bir bireyim. Özellikle Yapay Zeka ve Web Teknolojilerini keşfetmekle,öğrenmekle ilgileniyorum.</h4>
            <h1>@ViewBag.aboutTitle</h1>
            <p class="lead">@ViewBag.aboutSubDescription</p>
        </div>
    </div>

    <div class="row about-content">

        @await Component.InvokeAsync("_SkillComponentPartial")

    </div> <!-- end about-content -->

    <div class="row about-content about-content--buttons">

        <div class="col-six tab-full left">
            <a href="@Url.Content("https://drive.google.com/file/d/1hxPJSzf_eNsLQT45mIYxw91aMbRd3F6T/view?usp=sharing")" class="btn btn--primary  full-width" target="_blank">CV'mi Görüntüle</a>
        </div>
        <div class="col-six tab-full right">
            <a href="https://wa.me/+905530552740?text=Merhaba,%20size%20nasil%20yardimci%20olabilirim?" class="btn full-width" target="_blank">
                WhatsApp ile Bana Ulaşın
            </a>
        </div>

    </div> <!-- end about-content buttons -->
    @await Component.InvokeAsync("_ExperienceComponentPartial")
 <!-- end about-content timeline -->

</section>
