<section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="https://e0.pxfuel.com/wallpapers/458/944/desktop-wallpaper-white-background-simple-white.jpg" data-natural-width=1440 data-natural-height=3122 data-position-y=center>
    <div class="overlay"></div>

    <div class="row narrow section-intro has-bottom-sep">
        <div  class="col-full">
            <p style="color:#862121;"><h1>Sertifikalarım</h1></p>
        </div>
    </div>
    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="@Url.Content("https://drive.google.com/file/d/1mTXNDM7aYpFVSy9_MifmF8sm-Vjs5g4K/view?usp=sharing")" target="_blank" class="thumb-link" title="C# Katılım Sertifikası">
                            <img src="/Hola10/images/csharp.png"
                                 srcset="/Hola10/images/csharp.png" alt="C#">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            C# Katılım Sertifikası
                        </h3>
                    </div>

                    <a href="https://drive.google.com/file/d/1mTXNDM7aYpFVSy9_MifmF8sm-Vjs5g4K/view?usp=sharing" target="_blank" class="item-folio__project-link" title="Sertifikayı Görüntüle">
                        <i class="im im-link"></i>
                    </a>


                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->
            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="@Url.Content("https://drive.google.com/file/d/1k38474o7TuUDNJf4UFjjYfKRYmL6kOqR/view?usp=sharing")"target="_blank" class="thumb-link"
                        title="Bilgi Teknolojilerine Giriş Sertifikası">
                            
                            <img src="/Hola10/images/btg.png"
                                 srcset="/Hola10/images/btg.png" alt="Bilgi Teknolojileri Giriş Sertifikası">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Bilgi Teknolojilerine Giriş Sertifikası
                        </h3>
                    </div>

                    <a href="https://drive.google.com/file/d/1k38474o7TuUDNJf4UFjjYfKRYmL6kOqR/view?usp=sharing"target="_blank" class="item-folio__project-link" title="Sertifikayı Görüntüle">
                        <i class="im im-link"></i>
                    </a>
                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="@Url.Content("https://drive.google.com/file/d/1c0dxHHhQbd6UVEOVZsTQrpk9plrgVDr_/view?usp=sharing")"target="_blank" class="thumb-link"
                        title="ODTÜ Yazılıma Başlangıç Sertifikası">
                            <img src="/Hola10/images/patika.png"
                                 srcset="/Hola10/images/patika.png" alt="ODTÜ Yazılıma Başlangıç Sertifikası">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            ODTÜ Yazılıma Başlangıç Sertifikası
                        </h3>
                    </div>

                    <a href="https://drive.google.com/file/d/1c0dxHHhQbd6UVEOVZsTQrpk9plrgVDr_/view?usp=sharing"target="_blank" class="item-folio__project-link" title="Sertifikayı Görüntüle">
                        <i class="im im-link"></i>
                    </a>
                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->
            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="@Url.Content("https://drive.google.com/file/d/1w0i-fijkCYlah1Zx84z2KzsqopmXK0Sm/view?usp=sharing")"target="_blank" class="thumb-link"
                        title="Akbank Makine Öğrenmesi Bootcamp Katılım Sertifikası">
                            <img src="/Hola10/images/akbank.png"
                                 srcset="/Hola10/images/akbank.png" alt="Akbank Makine Öğrenmesi Bootcamp Katılım Sertifikası">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Akbank Makine Öğrenmesi Bootcamp Katılım Sertifikası
                        </h3>
                    </div>

                    <a href="https://drive.google.com/file/d/1w0i-fijkCYlah1Zx84z2KzsqopmXK0Sm/view?usp=sharing"target="_blank" class="item-folio__project-link" title="Sertifikayı Görüntüle">
                        <i class="im im-link"></i>
                    </a>
                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->
        </div>
    </div> <!-- end masonry -->

</section> 